---
permalink: /authors
layout: layouts/home.njk
---
<h1>Authors</h1>

{% for author in collections.tagList %}
    {% if '@' == author | first %}
        {% set authorUrl %}/tags/{{ author }}/{% endset %}
        <div class="author">
            <a href="{{ authorUrl | url }}" class="post-author">{{ author }}</a>
        </div>
    {% endif %}
{% endfor %}