---
layout: layouts/home.njk
permalink: /category/{{ category }}
title: {{ category }}
---

<h1>Category {{ category }}</h1>

{% set bloglist = collections.blog[category] %}
{% include "bloglist.njk" %}