---
layout: layouts/home.njk
alias: category
permalink: /category/{{ category }}/
title: {{ category }}
---

<h1>Category {{ category }}</h1>

{% set archivelist = collections.archive[category] %}
{% include "archivelist.njk" %}