---
layout: base
title: Home
eleventyNavigation:
  key: Home
  order: 1
---
{% include "components/sliders/home.njk" %}
{% set maxPosts = meta.archive.perpage %}
{% set listTitle = "Latest Projects" %}
{% set archivelist = collections.archive | head(-3) %}
{% set archivelistCounter = collections.archive | length %}
{% include "archivelist.njk" %}
{% include "components/counter.njk" %}