---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.archive.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set archivelist = collections.archive | head(-3) %}
{% set archivelistCounter = collections.archive | length %}
{% include "archivelist.njk" %}

<p>More archive can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>
