---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set archivelist = collections.archive | head(-3) %}
{% set archivelistCounter = collections.archive | length %}

		<div class="container ">
    		<div class="promo-area">
        		<div class="promo-item" style="background-image:url(assets/img/promobox1.jpg)">
            		<a href="#" class="promo-link"></a>
            		<div class="promo-overlay">
            			<h4>
            		        <img src="assets/img/promobox1.jpg" alt="me" height=80 width="100"/> <br> I'm elcharitas
            		    </h4>
            		</div>
        	    </div>
        		<div class="promo-item" style="background-image:url(assets/img/promobox3.jpg)">
            		<a href="#" class="promo-link"></a>
                    <div class="promo-overlay">
            			<h4>
            			    <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
            			    <a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a>
            			    <a href="#" target="_blank"><i class="fa fa-github-square"></i></a>
            			    <a href="#" target="_blank"><i class="fa fa-codepen"></i></a>
            			    <br> Follow me
            			</h4>
            		</div>
        	    </div>
        		<div class="promo-item" style="background-image:url(assets/img/promobox2.jpg)">
        		    <a href="#" class="promo-link">
        		        <div class="promo-overlay">
        					<h4>My Projects</h4>
        				</div>
        			</a>
        	    </div>
            </div>
		</div>

{% include "archivelist.njk" %}