---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - archive
    - tagList
  addAllPagesToCollections: true
layout: page
eleventyComputed:
  title: Filter By “{{ tag | title }}”
permalink: /tags/{{ tag }}/
---
<h1>Tag: “{{ tag | title }}”</h1>

{% set archivelist = collections[ tag ] %}
{% include "archivelist.njk" %}