
                        <div class="col-md-{{ 12/listCols if listCols else 6 }} col-12">
                            <div class="blog blog-style--1">
                                <div class="thumbnail">
                                    <a href="{{ post.url | url }}">
                                        <img class="w-100" src="{{ (post.data.image or archive.image) | image }}" alt="{{ postTitle }}" />
                                    </a>
                                </div>
                                <div class="content">
                                    <p class="blogtype"><a href="{{ category or archive.category | first | tagUrl }}">{{ category or archive.category | first }}</a></p>
                                    <h4 class="title"><a href="{{ post.url | url }}">{{ postTitle }}</a>
                                    </h4>
                                    <div class="blog-btn">
                                        <a class="rn-btn text-white" href="{{ post.url | url }}">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>