<a href='https://clustrmaps.com/site/1bf85'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=b1cfd0&w=386&t=tt&d=NdHHeW5udab7yLXy_VFK23dPD2A63pU9LulwvQgZFgc&co=031522&ct=ffffff'/></a>
<br/>
<a class="twitter-timeline" data-height="300" data-dnt="true" data-theme="dark" data-tweet-limit="3" data-chrome="nofooter noborders noscrollbar noheader transparent" href="https://twitter.com/elcharitas?ref_src=twsrc%5Etfw">Tweets by elcharitas</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q06SN22SHK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q06SN22SHK');
</script>
