---
# Metadata comes from _data/meta.json
permalink: "{{ meta.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ meta.title }}</title>
	<subtitle>{{ meta.description }}</subtitle>
	{% set absoluteUrl %}{{ meta.feed.path | url }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ meta.url }}"/>
	<updated>{{ collections.archive | rssLastUpdatedDate }}</updated>
	<id>{{ meta.url }}</id>
	<author>
		<name>{{ author.name }}</name>
		<email>{{ author.email }}</email>
	</author>
	{%- for post in collections.archive | reverse %}
	{% set absolutePostUrl %}{{ post.url | url }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
