---
# Metadata comes from _data/meta.json
permalink: "{{ meta.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ meta.title }}",
  "home_page_url": "{{ meta.url }}",
  "feed_url": "{{ meta.jsonfeed.url }}",
  "description": "{{ meta.description }}",
  "author": {
    "name": "{{ meta.author.name }}",
    "url": "{{ meta.author.url }}"
  },
  "items": [
    {%- for post in collections.archive | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(meta.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
