
        <div class="rn-slider-area position-relative" id="home">
            <div class="slide personal-portfolio-slider slider-paralax slider-style-3 d-flex align-items-center justify-content-center bg_image bg_image--25">
                <div id="particles-js"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <span>Freelance Fullstack Developer</span>
                                <h1 id="introbun" class="title"><noscript>Hello <span>There!</span></noscript></h1>
                                <a class="rn-btn mt-5" href="{{ "archive/portfolio" | url }}"><span>View Portfolio &nbsp; <i class="fa fa-arrow-circle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% include "components/about.njk" %}