
        <header class="header-area header-style-two color-black header--sticky">
            <div class="header-wrapper justify-content-center justify-content-sm-around">
                <div class="header-left d-none d-md-flex align-items-center">
                    {% include "./_nav.njk" %}
                </div>
                <div class="header-right">
                {% include "components/social.njk" %}
                </div>
            </div>
        </header>