<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Personal Portfolio Landing || Creative Agency Bootstrap4 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="assets/css/vendor/lightbox.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="position-relative spybody" data-spy="scroll" data-target=".navbar-example2" data-offset="150">
    <div class="main-page active-dark">
        <!-- Start Header Area  -->
        <header class="header-area header-style-two header--transparent color-black header--sticky">
            <div class="header-wrapper">
                <div class="header-left d-flex align-items-center">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo-symbol-dark.png" alt="Creative Agency">
                        </a>
                    </div>
                    <nav class="mainmenunav d-lg-block ml--50">
                        <div class="navbar-example2">
                            <!-- Start Mainmanu Nav -->
                            <ul class="mainmenu nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link smoth-animation active" href="#home">Home</a>
                                </li>
                                <li>
                                    <a class="nav-link smoth-animation" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link smoth-animation" href="#service">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link smoth-animation" href="#portfolio">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link smoth-animation" href="#blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link smoth-animation" href="#contact">Contact</a>
                                </li>
                            </ul>
                            <!-- End Mainmanu Nav -->
                        </div>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="social-share-inner">
                        <ul class="social-share social-style--2 color-black d-flex justify-content-start liststyle">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="header-btn ml_md--20 ml_sm--0"><a class="rn-btn" href="#"><span>buy now</span></a>
                    </div>
                    <!-- Start Humberger Menu  -->
                    <div class="humberger-menu d-block d-lg-none pl--20 pl_sm--10">
                        <span class="menutrigger text-white">
                            <i data-feather="menu"></i>
                        </span>
                    </div>
                    <!-- End Humberger Menu  -->
                    <!-- Start Close Menu  -->
                    <div class="close-menu d-block d-lg-none">
                        <span class="closeTrigger">
                            <i data-feather="x"></i>
                        </span>
                    </div>
                    <!-- End Close Menu  -->
                </div>
            </div>
        </header>
        <!-- End Header Area  -->

        <!-- Start Page Wrapper  -->
        <main class="page-wrapper">
            <!-- Start Slider Area  -->
            <div class="rn-slider-area" id="home">
                <!-- Start Single Slide  -->
                <div class="slide personal-portfolio-slider slider-paralax slider-style-3 d-flex align-items-center justify-content-center bg_image bg_image--25">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner text-left">
                                    <span>Freelance digital designer</span>
                                    <h1 class="title">Hello, I’m <span>Nancy</span> Welcome to my World.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide  -->
                </div>
            </div>
            <!-- End Slider Area  -->

            <!-- Start About Area  -->
            <div class="about-area rn-section-gap bg_color--1" id="about">
                <div class="about-wrapper">
                    <div class="container">
                        <div class="row row--35 align-items-center">
                            <div class="col-lg-5">
                                <div class="thumbnail">
                                    <img class="w-100" src="assets/images/about/about-8.jpg" alt="About Images" />
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="about-inner inner pt--100 pt_sm--40 pt_md--40">
                                    <div class="section-title">
                                        <h2 class="title">About Me</h2>
                                        <p class="description">There are many variations of passages of Lorem Ipsum
                                            available, but the majority have suffered <a href="#">alteration</a> in
                                            some form, by injected humour, or randomised words which dont look even
                                            slightly believable. If you are going to use a passage of Lorem Ipsum,
                                        </p>
                                    </div>
                                    <div class="tab-wrapper mt--30">
                                        <ul class="nav nav-tabs tab-style--1" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="mainskill" data-toggle="tab" href="#rn-mainskill" role="tab" aria-controls="mainskill" aria-selected="true">Main skills</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="awards" data-toggle="tab" href="#rn-awards" role="tab" aria-controls="awards" aria-selected="false">Awards</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="experience" data-toggle="tab" href="#rn-experience" role="tab" aria-controls="experience" aria-selected="false">Experience</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="education" data-toggle="tab" href="#rn-education" role="tab" aria-controls="education" aria-selected="false">Education & Certification</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="rn-mainskill" role="tabpanel" aria-labelledby="mainskill">
                                                <div class="single-tab-content">
                                                    <ul>
                                                        <li><a href="service.html">User experience design <span> -
                                                                    UI/UX</span></a>Delight the user and make it
                                                            work.</li>
                                                        <li><a href="service.html">Web and user interface
                                                                design<span> -
                                                                    Development</span></a>Websites, web experiences,
                                                            ...</li>
                                                        <li><a href="service.html">Interaction design <span> -
                                                                    Animation</span></a>I
                                                            like to move it move it.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="rn-awards" role="tabpanel" aria-labelledby="awards">
                                                <div class="single-tab-content">
                                                    <ul>
                                                        <li><a href="service.html">Awwwards.com <span>-
                                                                    Winner</span></a> 2019 -
                                                            2020
                                                        </li>
                                                        <li><a href="service.html">CSS Design Awards <span>-
                                                                    Winner</span></a> 2017
                                                            -
                                                            2018</li>
                                                        <li><a href="service.html">Design nominees <span>- site of
                                                                    the
                                                                    day</span></a>
                                                            2013- 2014</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="rn-experience" role="tabpanel" aria-labelledby="experience">
                                                <div class="single-tab-content">
                                                    <ul>
                                                        <li><a href="/service">Sr. Front-end Engineer<span> -
                                                                    Google</span></a> 2018
                                                            - Current</li>
                                                        <li><a href="/service">Front-end Engineer<span> -
                                                                    Microsoft</span></a> 2017
                                                            - 2018</li>
                                                        <li><a href="/service">Software Engineer<span> - Alibaba
                                                                </span></a> 2013-
                                                            2014</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="rn-education" role="tabpanel" aria-labelledby="education">
                                                <div class="single-tab-content">
                                                    <ul>
                                                        <li><a href="/service">BSc In CSE<span> - ABC University,
                                                                    Los Angeles,
                                                                    CA</span></a> 2010</li>
                                                        <li><a href="/service">Diploma in Computer Science<span> -
                                                                    Gamma Technical
                                                                    Institute</span></a> 2009</li>
                                                        <li><a href="/service">Graphic Designer<span> - ABC
                                                                    Institute, Los Angeles,
                                                                    CA</span></a> 2007</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About Area  -->

            <!-- Start Service Area  -->
            <div class="rn-service-area rn-section-gap bg_color--5" id="service">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title service-style--3 text-center mb--20 mb_sm--0 md_md--0">
                                <h2 class="title">My Awesome Service</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Start Single Service  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="single-service service__style--2 bg-color-gray">
                                <a href="service-details.html">
                                    <div class="service">
                                        <div class="icon">
                                            <i data-feather="cast"></i>
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Business Stratagy</h3>
                                            <p>I throw myself down among the tall grass by the stream as I lie close to
                                                the earth.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Service  -->

                        <!-- Start Single Service  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="single-service service__style--2 bg-color-gray">
                                <a href="service-details.html">
                                    <div class="service">
                                        <div class="icon">
                                            <i data-feather="layers"></i>
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Website Development</h3>
                                            <p>I throw myself down among the tall grass by the stream as I lie close to
                                                the earth.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Service  -->

                        <!-- Start Single Service  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="single-service service__style--2 bg-color-gray">
                                <a href="service-details.html">
                                    <div class="service">
                                        <div class="icon">
                                            <i data-feather="users"></i>
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Marketing & Reporting</h3>
                                            <p>I throw myself down among the tall grass by the stream as I lie close to
                                                the earth.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Service  -->

                        <!-- Start Single Service  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="single-service service__style--2 bg-color-gray">
                                <a href="service-details.html">
                                    <div class="service">
                                        <div class="icon">
                                            <i data-feather="monitor"></i>
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Mobile Development</h3>
                                            <p>I throw myself down among the tall grass by the stream as I lie close to
                                                the earth.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Service  -->

                        <!-- Start Single Service  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="single-service service__style--2 bg-color-gray">
                                <a href="service-details.html">
                                    <div class="service">
                                        <div class="icon">
                                            <i data-feather="camera"></i>
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Marketing & Reporting</h3>
                                            <p>I throw myself down among the tall grass by the stream as I lie close to
                                                the earth.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Service  -->

                        <!-- Start Single Service  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                            <div class="single-service service__style--2 bg-color-gray">
                                <a href="service-details.html">
                                    <div class="service">
                                        <div class="icon">
                                            <i data-feather="activity"></i>
                                        </div>
                                        <div class="content">
                                            <h3 class="title">Mobile Development</h3>
                                            <p>I throw myself down among the tall grass by the stream as I lie close to
                                                the earth.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Service  -->
                    </div>
                </div>
            </div>
            <!-- Start Service Area  -->

            <!-- Start Portfolio Area  -->
            <div class="rn-portfolio-area rn-section-gap bg_color--1" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title section-title--3 text-center mb--30">
                                <h2 class="title">My Latest Project</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, <br /> but the
                                    majority have suffered alteration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Single Portfolio  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-8"></div>
                                    <div class="bg-blr-image image-8"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="portfolio-details.html">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->

                        <!-- Start Single Portfolio  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-7"></div>
                                    <div class="bg-blr-image image-7"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="portfolio-details.html">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->

                        <!-- Start Single Portfolio  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-3"></div>
                                    <div class="bg-blr-image image-3"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="portfolio-details.html">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->
                        <!-- Start Single Portfolio  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-4"></div>
                                    <div class="bg-blr-image image-4"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="portfolio-details.html">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->

                        <!-- Start Single Portfolio  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-3"></div>
                                    <div class="bg-blr-image image-3"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="portfolio-details.html">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->

                        <!-- Start Single Portfolio  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                            <div class="portfolio text-center">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-2"></div>
                                    <div class="bg-blr-image image-2"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="portfolio-details.html">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="portfolio-details.html">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Portfolio  -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="view-more-btn mt--60 mt_sm--30 text-center">
                                <a class="rn-button-style--2 btn_solid" href="#">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Portfolio Area  -->

            <!-- Start Blog Area  -->
            <div class="rn-blog-area rn-section-gap bg_color--5" id="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title section-title--3 text-center mb--30">
                                <h2 class="title">Latest News</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, <br /> but the
                                    majority have suffered alteration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Blog Area  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="blog blog-style--1">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img class="w-100" src="assets/images/blog/blog-01.jpg" alt="Blog Images" />
                                    </a>
                                </div>
                                <div class="content">
                                    <p class="blogtype">Development</p>
                                    <h4 class="title"><a href="blog-details.html">Getting tickets to the big show</a>
                                    </h4>
                                    <div class="blog-btn">
                                        <a class="rn-btn text-white" href="blog-details.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Area  -->

                        <!-- Start Blog Area  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="blog blog-style--1">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img class="w-100" src="assets/images/blog/blog-02.jpg" alt="Blog Images" />
                                    </a>
                                </div>
                                <div class="content">
                                    <p class="blogtype">Development</p>
                                    <h4 class="title"><a href="blog-details.html">Getting tickets to the big show</a>
                                    </h4>
                                    <div class="blog-btn">
                                        <a class="rn-btn text-white" href="blog-details.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Area  -->

                        <!-- Start Blog Area  -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="blog blog-style--1">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img class="w-100" src="assets/images/blog/blog-03.jpg" alt="Blog Images" />
                                    </a>
                                </div>
                                <div class="content">
                                    <p class="blogtype">Development</p>
                                    <h4 class="title"><a href="blog-details.html">Getting tickets to the big show</a>
                                    </h4>
                                    <div class="blog-btn">
                                        <a class="rn-btn text-white" href="blog-details.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Area  -->
                    </div>
                </div>
            </div>
            <!-- End Blog Area  -->

            <!-- Start Contact Area  -->
            <div class="rn-contact-area rn-section-gap bg_color--1" id="contact">
                <div class="contact-form--1">
                    <div class="container">
                        <div class="row row--35 align-items-start">
                            <div class="col-lg-6 order-2 order-lg-1">
                                <div class="section-title text-left mb--50 mb_sm--30 mb_md--30">
                                    <h2 class="title">Hire Me.</h2>
                                    <p class="description">I am available for freelance work. Connect with me via
                                        phone:
                                        <a href="tel:+8801923088574">01923 088574</a> or email:
                                        <a href="mailto:admin@example.com"> admin@example.com</a> </p>
                                </div>
                                <div class="form-wrapper">
                                    <form>
                                        <label htmlFor="item01">
                                            <input type="text" name="name" id="item01" placeholder="Your Name *" />
                                        </label>

                                        <label htmlFor="item02">
                                            <input type="text" name="email" id="item02" placeholder="Your email *">
                                        </label>

                                        <label htmlFor="item03">
                                            <input type="text" name="subject" id="item03" placeholder="Write a Subject">
                                        </label>
                                        <label htmlFor="item04">
                                            <textarea type="text" id="item04" name="message" placeholder="Your Message"></textarea>
                                        </label>
                                        <button class="rn-button-style--2 btn_solid" type="submit" value="submit" name="submit" id="mc-embedded-subscribe">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2">
                                <div class="thumbnail mb_md--30 mb_sm--30">
                                    <img src="assets/images/about/about-9.jpg" alt="trydo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact Area  -->
        </main>
        <!-- End Page Wrapper  -->
        <!-- Start Footer Style Two  -->
        <div class="footer-style-2 ptb--30 bg_image bg_image--1" data-black-overlay="6">
            <div class="wrapper plr--50 plr_sm--20">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="inner">
                            <div class="logo text-center text-sm-left mb_sm--20">
                                <a href="#">
                                    <img src="assets/images/logo/logo.png" alt="Logo images" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="inner text-center">
                            <ul class="social-share rn-lg-size d-flex justify-content-center liststyle">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="inner text-lg-right text-center mt_md--20 mt_sm--20">
                            <div class="text">
                                <p>Copyright © 2020 Rainbow-Themes. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Style Two  -->
    </div>
    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/stellar.js"></script>
    <script src="assets/js/vendor/particles.js"></script>
    <script src="assets/js/vendor/masonry.js"></script>
    <script src="assets/js/vendor/stickysidebar.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>