
    	<div id="widget-area">
    		<div class="container">
    			<div class="widget-wrapper">
    				<div class="widget zminimal_latest_posts_widget">
    				    <h4 class="widget-title">{{ listTitle or metadata.archive.title }}</h4>
            			<ul class="latest-post">
{% for post in archivelist | reverse %}
            				<li>
            					<div class="post-image">
            
            						<a href="{{ post.url | url }}" rel="bookmark">
            						
            							<img src="{{ ['/assets/img/', post.data.image or metadata.archive.image ] | join | url }}" class="side-item-thumb wp-post-image" width="150" height="80" alt="" loading="lazy" />
                                    </a>
            
            					</div>
            
            					
            					<div class="post-item-text">

                    {% for tag in post.data.tags %}
                      {%- if collections.tagList.indexOf(tag) != -1 -%}
                      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                      <span class="post-cate tag-{{ tag | lower }}"><a href="{{ tagUrl | url }}" rel="category tag"> {{ tag }} </a></span>
                      {%- endif -%}
                    {% endfor %}
            						<h4><a href="{{ post.url | url }}" rel="bookmark">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h4>
            						<div class="post-meta">
            						    By {{ post.data.author or metadata.author.name }} &middot; {{ post.date | readableDate }}
            						</div>
            
            					</div>
            
            				</li>
{% endfor %}
                        </ul>
                    </div>
                </div>
{% if maxPosts > 0 %}
            	<div class="pagination">
            						
            		<div class="older">
            		    <a href="{{ '/archive/2' | url }}" >Older Posts &rarr;</a>
            		</div>
            		<div class="newer"><a>&larr; Newer Posts</a></div>
            		
            	</div>
{% set maxPosts = 0 %}
{% endif %}
    		</div>
    	</div>