
            <div class="rn-blog-area rn-section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title section-title--2 text-center">
                                <h3 class="title">{{ listTitle if listTitle }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
					{% for post in archivelist | reverse %}
						{% set postTitle = (post.data.title or post.url) | truncate(50) %}
						{% set tags = post.data.tags | slide(1) %}
						{% for tag in tags | slide(1) | head(-1) %}
							{% if collections.tagList.indexOf(tag) != -1 %}
								{% set category = tag | tagName | capitalize %}
							{% endif %}
						{% endfor %}
                        {% include "layouts/compact/eachpost.njk" %}
					{% endfor %}
                    </div>
                    {% if not maxPosts %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="rn-pagination text-center mt--60 mt_sm--30">
                                <ul class="page-list">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>