
        <script src={{ '/assets/js/modernizr.min.js' | url }}></script>
        <script src={{ '/assets/js/jquery.js' | url }}></script>
        <script src={{ '/assets/js/bootstrap.min.js' | url }}></script>
        <script src={{ '/assets/js/stellar.js' | url }}></script>
        <script src={{ '/assets/js/particles.js' | url }}></script>
        <script src={{ '/assets/js/masonry.js' | url }}></script>
        <script src={{ '/assets/js/stickysidebar.js' | url }}></script>
        <script src={{ '/assets/js/plugins.min.js' | url }}></script>
        <script src="//static.madebymagnitude.com/javascript/jQuery.snow.min.js"></script>
        <script src={{ '/assets/js/main.js' | url }}></script>
        <script src="{{ '/assets/js/app.min.js' | url }}"></script>
