
        <script src="assets/js/modernizr.min.js"></script>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/stellar.js"></script>
        <script src="assets/js/particles.js"></script>
        <script src="assets/js/masonry.js"></script>
        <script src="assets/js/stickysidebar.js"></script>
        <script src="assets/js/plugins.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="{{ '/assets/js/app.min.js' | url }}"></script>
