
        <div class="footer-style-2 ptb--30 bg_image bg_color--6" data-black-overlay="8">
            <div class="wrapper plr--50 plr_sm--20">
                <div class="row align-items-center justify-content-between">
                {% include "./_copy.njk" %}
                </div>
            </div>
        </div>