@media only screen and (min-width: 769px) and (max-width: 960px) {
	
	.container {
		width:726px;
	}
	
	#navigation-wrapper {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
	#logo {
	    clear: both;
	    mpargin-left: 48%;
	}

	/* Promo Boxes */
	.promo-item {
		width:230px;
		height: 255px;
		margin-right:18px;
	}
	
	.post-image img {
		width:726px;
		height:auto;
	}
	
	
	.post-image.audio iframe {
		width:726px;
		height:auto;
	}
	
	.container.zminimal_sidebar .post-image.audio iframe {
		width:476px;
		height:auto;
	}
	
	.item-related {
		width:230px;
		margin-right:17px;
	}

	.post-pagination .prev-post {
		width:383px;
	}

	.post-pagination .next-post {
		width:383px;
	}

	/* Widget */
	.widget img {
		max-width:230px;
		height:auto;
	}
	
	.widget iframe {
		max-width:230px !important;
		height:auto;
	}
	
	/* Footer */
	.footer-widget-wrapper {
		width:230px;
		margin-right:17px;

	}
	
	#footer-logo img {
		max-width:726px;
		height:auto;
	}

	#footer-social a {
		margin:0 15px;
	}

	#footer-social a i {
		height:32px;
		width:32px;
		line-height:32px;
		margin-right:0;
		font-size:14px;
	}

	#footer-social a span {
		display:none;
	}
	
	.wpcf7 input {
		width:208px;
	}
	
	.zt-grid li {
		width:353px;
	}
	.zt-grid li:nth-child(3n+3) {
		margin-right:16px;
	}
	.zt-grid li:nth-child(2n+2) {
		margin-right:0;
	}
	
	/* Sidebar */
	.container.zminimal_sidebar #main {
		width:476px;
		margin-right:20px;
	}

	.container.zminimal_sidebar #sidebar {
		width:230px;
	}
	
	.container.zminimal_sidebar #sidebar .widget, .footer-widget-wrapper .widget {
		width:230px;
	}
		
	.container.zminimal_sidebar .zt-grid li {
		width:228px;
	}
	
	.container.zminimal_sidebar .item-related {
		width:149px;
		margin-right:14px;
	}

	.container.zminimal_sidebar .item-related:last-child {
		margin-right:0;
	}

	.container.zminimal_sidebar .item-related h3 a {
		font-size:12px;
		letter-spacing:1px;
	}
	
	.container.zminimal_sidebar #respond textarea {
		width:93%;
	}

	#sidebar .widget #searchform input#s { 
		width:200px;
	}
	#container {
	    width: 98%;
	    max-width: 940px;
	    margin: 0 auto;
	}
	
}

@media only screen and (max-width: 768px) {
	
	.container {
		width:300px;
	}
	
	#navigation-wrapper {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
	#logo {
	    clear: both;
	}
	
	.owl-item .item {
    	height: 320px !important;
	}

	/* Promo Boxes */
	.promo-item {
		width:100%;
		height: 220px;
		margin-bottom:30px;
	}

	.post-header h1 a, .post-header h2 a, .post-header h1 {
		font-size:22px;
		letter-spacing:2px;
	}
	
	.post-image img {
		width:300px;
		height:auto;
	}
	
	.post-image.audio iframe {
		width:300px;
		height:auto;
	}
	
	.item-related {
		width:300px;
		margin-bottom:30px;
	}
	
	.share-box {
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin:0 4px;
	}
	
	.post-pagination .prev-post {
		width:300px;
	}
	.post-pagination .next-post {
		width:300px;
	}
	
	#respond textarea {
		width:90%;
	}
	
	.thecomment .author-img {
		display:none;
	}
	
	.widget {
		width:300px;
		margin-right:32px;
		float:left;
		margin-bottom:35px;
	}
	
	#footer-logo img {
		max-width:300px;
		height:auto;
	}
	
	#footer-social a i {
		height:28px;
		width:28px;
		line-height:28px;
		margin-right:0;
		font-size:12px;
	}

	#footer-social a {
		margin:0 5px;
	}

	#footer-social a span{
		display:none;
	}
	
	.wpcf7 textarea {
		width:94%;
	}
	
	.zt-grid li {
		width:300px;
	}

	.zt-grid li:nth-child(3n+3) {
		margin-right:0;
	}

	.zt-grid li:nth-child(2n+2) {
		margin-right:0;
	}
	
	.container.zminimal_sidebar #main {
		width:300px;
		margin-right:0;
	}

	.container.zminimal_sidebar #sidebar {
		width:300px;
	}
	
	.container.zminimal_sidebar #sidebar .widget {
		width:300px;
	}

	.container.zminimal_sidebar .item-related {
		width:300px;
		margin-bottom:30px;
	}


	#container {
	    width: 98%;
	    margin: 0 auto;
	    max-width: 480px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    	width: 48%;
	}
	.woocommerce #content div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.images, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.images, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary{
		width: 100%;
		float: none;
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.container {
		width:460px;
	}
	#logo {
	    flloat: right;
	}
	
	/* Promo Boxes */
	.promo-item {
		width:100%;
		height: 300px;
		margin-bottom:30px;
	}
	.promo-item:last-child {
		margin-bottom:0;
	}
	
	.post-image img {
		width:460px;
		height:auto;
	}
	
	.post-image.audio iframe {
		width:460px;
		height:auto;
	}
	
	.item-related {
		width:460px;
		margin-bottom:30px;
	}
	
	.share-box {
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin:0 10px;
	}
	
	.post-pagination .prev-post {
		width:460px;
	}

	.post-pagination .next-post {
		width:460px;
	}
	
	.widget {
		width:460px;
		margin-right:32px;
		float:left;
		margin-bottom:35px;
	}
	
	#footer-logo img {
		max-width:460px;
		height:auto;
	}
	
	#footer-social a {
		margin:0 12px;
	}
	
	#footer-social a i {
		height:32px;
		width:32px;
		line-height:32px;
		margin-right:0;
		font-size:14px;
	}
	
	.wpcf7 textarea {
		width:95%;
	}
	
	.zt-grid li {
		width:230px;
	}

	.zt-grid li:nth-child(3n+3) {
		margin-right:16px;
	}

	.zt-grid li:nth-child(2n+2) {
		margin-right:0;
	}
	
	.container.zminimal_sidebar .zt-grid li {
		width:230px;
	}
	.container.zminimal_sidebar .zt-grid li:nth-child(3n+3) {
		margin-right:16px;
	}
		
	.container.zminimal_sidebar .zt-grid li:nth-child(2n+2) {
		margin-right:0;
	}
		
	.container.zminimal_sidebar #main {
		width:460px;
		margin-right:0;
	}

	.container.zminimal_sidebar #sidebar {
		width:460px;
	}
	
	.container.zminimal_sidebar #sidebar .widget {
		width:460px;
	}
		
	.container.zminimal_sidebar .item-related {
		width:460px;
		margin-bottom:30px;
	}
	
}