---
layout: page
title: Journal
pagination:
  data: collections.archives
  size: archive.perpage
  reverse: true
  alias: archivelist
permalink: /archive{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/
---
{% include "archivelist.njk" %}