
        <div class="about-area rn-section-gap bg_color--1" id="about">
            <div class="about-wrapper">
                <div class="container">
                    <div class="row row--35 align-items-center">
                        <div class="col-lg-4">
                            <div class="team">
                                <div class="thumbnail">
                                    <img src="{{ author.image | image }}" alt="{{ author.fullname }}" />
                                </div>
                                <div class="content">
                                    <h4 class="title">{{ author.fullname }}</h4>
                                    <p class="designation">{{ author.title }}</p>
                                </div>
                                <ul class="social-icon">
                                {% for type, link in author.links %}
                                    <li><a href="{{ link }}"><i class="fab fa-{{ type }}"></i></a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="about-inner inner pt--100 pt_sm--40 pt_md--40">
                                <div class="tab-wrapper">
                                    <ul class="nav nav-tabs tab-style--1" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="describo" data-toggle="tab" href="#rn-describo" role="tab" aria-controls="describo" aria-selected="true">About Me</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="mainskill" data-toggle="tab" href="#rn-mainskill" role="tab" aria-controls="mainskill" aria-selected="false">Main Skills</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="experience" data-toggle="tab" href="#rn-experience" role="tab" aria-controls="experience" aria-selected="false">Experience</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="education" data-toggle="tab" href="#rn-education" role="tab" aria-controls="education" aria-selected="false">Education & Certification</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade" id="rn-mainskill" role="tabpanel" aria-labelledby="mainskill">
                                            <div class="single-tab-content">
                                            {% for skill, progress in author.skills %}
                                                <div class="rn-progress-charts ptb--10">
                                                    <h6 class="heading heading-h6 text-white">{{ skill }}</h6>
                                                    <div class="progress">
                                                        <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"><span
                                                                class="percent-label  text-white">{{ progress }}%</span></div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-pane fade show active" id="rn-describo" role="tabpanel" aria-labelledby="describo">
                                            <div class="single-tab-content">
                                                <ul>
                                                    <li>
                                                        Hello, I'm Jonathan Irhodia, An Edo state citizen of Nigeria, A lover of music and all good food :)
                                                    </li>
                                                    <li>
                                                        I like to think of myself as an all round writer, writing codes, articles, books and much more
                                                    </li>
                                                </ul>
                                                <a class="rn-btn mt-5" href="#"><span>View Resume &nbsp; <i class="fa fa-download"></i></span></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="rn-experience" role="tabpanel" aria-labelledby="experience">
                                            <div class="single-tab-content">
                                                <ul>
                                                    <li><a href="/service">Sr. Front-end Engineer<span> -
                                                                Google</span></a> 2018
                                                        - Current</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="rn-education" role="tabpanel" aria-labelledby="education">
                                            <div class="single-tab-content">
                                                <ul>
                                                    <li><a href="/service">BSc In CSE<span> - ABC University,
                                                                Los Angeles,
                                                                CA</span></a> 2010</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>