
        <div class="rn-countreupup-area rn-section-gap bg_color--8">
            <div class="container">
                <div class="row">
                    <!-- Start Single Counterup  -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count text-success">44</h5>
                            <p class="description">Built Applications</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count text-warning">80</h5>
                            <p class="description">Satisfied Clients</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count text-danger">17</h5>
                            <p class="description">Students Taught</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">20</h5>
                            <p class="description">Written Artcles</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->
                </div>
            </div>
        </div>