		{% set description = description or page.templateContent | striptags | trim | truncate(65) or meta.description %}
    	<meta name="description" content="{{ description }}"/>
    	<meta itemprop="name" content="{{ title or meta.title }}">
    	<meta itemprop="description" content="{{ description }}">
    	<meta itemprop="image" content="{{ (image or archive.image) | image }}">
    	<link rel="dns-prefetch" href="https://ajax.googleapis.com"/>
    	<link rel="preload" href="{{ 'fonts/fontawesome-webfont.ttf' | asset }}" crossorigin as="font"/>
    	<meta property="og:url" content="{{ page.url | url }}">
    	<meta property="og:type" content="website">
    	<meta property="og:title" content="{{ title or meta.title }}">
    	<meta property="og:description" content="{{ description }}">
    	<meta property="og:image" content="{{ (image or archive.image) | image }}">
    	<meta name="twitter:card" content="summary_large_image">
    	<meta name="twitter:title" content="{{ title or meta.title }}">
    	<meta name="twitter:description" content="{{ description }}">
    	<meta name="twitter:image" content="{{ (image or archive.image) | image }}">