                    <div class="social-share-inner">
                        <ul class="social-share social-style--2 color-black d-flex liststyle">
                        {% for type, link in meta.author.links %}
                            <li><a href="{{ link }}"><i class="fab fa-{{ type }}"></i></a></li>
                        {% endfor %}
                        </ul>
                    </div>