<!DOCTYPE html>
<html lang="en-US">
    <head>
    	<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{{ ([title, " ~ ", metadata.title] | join if title else metadata.title) | title }}</title>
    	<meta name="description" content="{{ description or title or metadata.title }}"/>
    	<meta itemprop="name" content="{{ title or metadata.title }}">
    	<meta itemprop="description" content="{{ description or title or metadata.title }}">
    	<meta itemprop="image" content="{{ ['/assets/img/', image or metadata.author.image] | join | url }}">
    	<link rel="dns-prefetch" href="https://ajax.googleapis.com"/>
    	<link rel="preload" href="{{ '/assets/fonats/fontawesome-webfont.ttf' | url }}"/>
    	<meta property="og:url" content="{{ page.url | url }}">
    	<meta property="og:type" content="website">
    	<meta property="og:title" content="{{ title or metadata.title }}">
    	<meta property="og:description" content="{{ description or title or metadata.title }}">
    	<meta property="og:image" content="{{ ['/assets/img/', image or metadata.author.image] | join | url }}">
    	<meta name="twitter:card" content="summary_large_image">
    	<meta name="twitter:title" content="{{ title or metadata.title }}">
    	<meta name="twitter:description" content="{{ description or title or metadata.title }}">
    	<meta name="twitter:image" content="{{ ['/assets/img/', image or metadata.author.image] | join | url }}">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" type="text/css" media="print" onload="this.media='all'" />
        <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | url }}" type="text/css" media="print" onload="this.media='all'" />
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    </head>
    <body class="{% if templateClass %}{{ templateClass }} {% endif %}blog">
    	<nav id="navigation">
    		<div class="container">
    			<div id="logo">
    				<h1><a href="{{ '/' | url }}"> <i class="fa fa-cogs link"></i> elcharitas </a></h1>
    			</div>
    			<div class="mobile-pack">
    			    <span class="search-icon"></span>
    			    <span class="menu-icon"></span>
    			</div>
    		</div>
    	</nav>
    	{{ content | safe }}
    	<footer id="footer-logo">
    		<div class="container">
    		    <p class="footer-menu">
    		        {% for entry in collections.all | eleventyNavigation %}<a href="{{ entry.url }}">{{ entry.title }}</a> &middot; {% endfor %} <a href="{{ '/p/credits' | url }}">Website Credits</a>
    		    </p>
    			<p>
    			    Designed by <a href="{{ '/p/about' | url }}"><i class="fa fa-cogs"></i> elcharitas</a> &copy; 2020
    		    </p>
    			<p class="to-top">
    			    <a href="#">Back to Top <i class="fa fa-chevron-up"></i></a> 
    			</p>
    		</div>
    	</footer>
        <script type="text/javascript" src="{{ '/assets/js/app.js' | url }}"></script>
    </body>
</html>