<!DOCTYPE html>
<html lang="en-US">
    <head>
    	<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{{ ([title, " ~ ", metadata.title] | join if title else metadata.title) | title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ '/assets/css/responsive.css' | url }}" type="text/css" media="all" />
        <link rel="stylesheet"  href="{{ '/assets/css/font-awesome.min.css' | url }}" type="text/css" media="all" />
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
        <script type="text/javascript" src="{{ '/assets/js/jquery.js' | url }}"></script>
        <script type="text/javascript" src="{{ '/assets/js/app.js' | url }}"></script>
    </head>
    <body class="{% if templateClass %}{{ templateClass }} {% endif %}blog theme-zminimal">

    	<nav id="navigation">
    		<div class="container">
    			<div id="logo">
    				<h1><a href=""> <i class="fa fa-user-secret link"></i> elcharitas </a></h1>
    			</div>
    			<div class="mobile-pack">
    			    <span class="search-icon"></span>
    			    <span class="menu-icon"></span>
    			</div>
    		</div>
    	</nav>
        <header>
    		<div class="promo-area">
        		<div class="promo-item" style="background-image:url(wp-content/uploads/sites/25/2020/02/promobox1.jpg)">
            		<a href="#" class="promo-link"></a>
            		<div class="promo-overlay">
            			<h4>
            			    I'm elcharitas!
            		    </h4>
            		</div>
        	    </div>
            </div>
        </header>
    
    	{{ content | safe }}
    	
    	<div id="widget-area">
    		<div class="container">
    			<div class="footer-widget-wrapper">
    				<div id="zminimal_latest_posts_widget-2" class="widget zminimal_latest_posts_widget">
    				    <h4 class="widget-title">Latest Posts</h4>
            			<ul class="latest-post">
            				<li>
            					<div class="post-image">
            
            						<a href="keep-it-simple.html" rel="bookmark">
            						
            							<img src="wp-content/uploads/sites/25/2016/01/m1-21-440x294.jpg" class="side-item-thumb wp-post-image" width="150" height="80" alt="" loading="lazy" />
                                    </a>
            
            					</div>
            
            					
            					<div class="post-item-text">
            
            						<span class="post-cate"><a href="category/music" rel="category tag">Music</a></span>
            						
            						<h4><a href="keep-it-simple.html" rel="bookmark">Keep it simple</a></h4>
            
            					</div>
            
            				</li>
            
                        </ul>
                    </div>
                </div>
    		</div>
    	</div>
    		
    	<footer id="footer-logo">
    		<div class="container">
    		    <p class="footer-menu">
    		        {% for entry in collections.all | eleventyNavigation %}<a href="{{ entry.url }}">{{ entry.title }}</a> &middot; {% endfor %} <a href="#">Website Credits</a>
    		    </p>
    			<p>
    			    Designed by <a href="{{ '/p/about' | url }}"><i class="fa fa-user-secret"></i> elcharitas</a> &copy; 2020
    		    </p>
    			<p class="to-top">
    			    <a href="#">Back to Top <i class="fa fa-chevron-up"></i></a> 
    			</p>
    		</div>
    	</footer>
    </body>
</html>