<div id="fb-root"></div> <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=1771371546495285&autoLogAppEvents=1" nonce="9DRdOxH9"></script>

<div class="fb-comments" data-href="https://elcharitas.com.ng" data-numarchive="12" data-width="100%"></div>